

<div class="container">
	<header>

		<div class="col-left">
			<img class="logo" src="../../../assets/img/logo_facture.png" style="width : 200px">
			<br><br>
			<div style="padding-left : 10px">
				<b> Entreprise Nachd-IT</b><br>
				<span class="fa fa-envelope-o"></span> &nbsp;contact@nachd-it.com<br>
				<span class="fa fa-phone"></span>&nbsp; (+216) 27 751 305<br>
				<span class="fa fa-map-marker"></span>&nbsp; &nbsp;Espace Incubateur, ISSAT Sousse, Rue Ibn Khaldoun,
				cité Tafféla, sousse 4003
			</div>
		</div>

		<div class="col-right">
			<h1>Facture</h1>
			<p>Réference : F2021-00001</p>
			<p> <span class="fa fa-calendar"></span> : 08-02-2021 </p>
			<br>
			<br>
			<div class="client">
				<p><b>Nom Client</b> </p>
				<p>Ville</p>
				<p>Matricule</p>

			</div>

		</div>
	</header>

	<div class="limiter">
		<div class="container-table100" style="padding-top: 20px">
			<div class="wrap-table100">
				<div class="table100 ver1 m-b-110">


					<div class="table100-body js-pscroll">
						<table>
							<thead>
								<tr class="row100 head" style="height: 60px">
									<th>&nbsp; #</th>
									<th>Désignation</th>
									<th>Qté</th>
									<th>Prix Unitaitre HT</th>
									<th>Montant HT</th>


								</tr>
							</thead>
							<tbody>




								<tr class="row100 body">
									<td>&nbsp;1</td>
									<td>Hébergement du site web </td>
									<td>1</td>
									<td>100.000</td>
									<td>100.000</td>
								</tr>


							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="total">
		<table class="table" style="border: 1px inset;">
			<tr>
				<th> Montant HT</th>
				<td>100.000</td>
			</tr>
			<tr>
				<th>Taux TVA </th>
				<td>19%</td>
			</tr>
			<tr>
				<th>Montant TVA</th>
				<td>19.000</td>
			</tr>
			<tr>
				<th>Timbre Fiscale</th>
				<td>0.600</td>
			</tr>
			<tr class="ttc" style="background-color: #6f93ee">
				<th>Montant TTC </th>
				<td>119.600</td>
			</tr>
			<tr>
				<th>Montant en toutes lettres </th>
				<td>Cent dix-neuf dinar, six cent millime</td>
			</tr>
		</table>
	</section>
	<footer>

		<hr>
		<p style="font-size: 11px ; margin: auto;">Conception et réalisation des applications web, mobile et desktop et
			services informatique<br>
			TVA : 1530684/Y/A/M/00 - contact@nachd-it.com RIB: 04500043005296886489 Tijari Bank</p>
	</footer>

</div>