<div class="no-print">
	
<p-toolbar>
    <div class="p-toolbar-group-left">
        <p-button label="Print" icon="pi pi-print" styleClass="p-button-danger" (click)="print()"></p-button>
            
            </div>
</p-toolbar>

</div>
<div class="" style=" width: 672; height: 900px; margin-top: 10px; margin-bottom: 10px; margin-left: 0; align-items: center;">
	<header>
		<div class="col-left">
			<img class="logo" src="../../../assets/img/logo_facture.png" style="width : 200px">
			<br><br>
			<div style="padding-left : 15px; width: 250px;">
				<b> Entreprise {{company.name}}</b><br>
				<i class="pi pi-check"></i> {{company.email}}<br>
				<span class="fa fa-phone"></span>&nbsp; (+216) {{company.phone_number}}<br>
				<span class="fa fa-map-marker"></span>&nbsp; &nbsp;{{company.local}}
			</div>
		</div>
		<div class="col-right">
			<h1 class="facture">Facture</h1>
			<p>Réference : {{config.billNum}}</p>
			<p> <span class="fa fa-calendar"></span> : {{ invoice.DateFacturation}} </p>
			<br>
			<br>
			<div class="client">
				<p><b>{{ client.client_name }}</b> </p>
				<p>{{ client.email ? client.email : ''}}</p>
				<p>{{client.adress ? client.adress : ''}}</p>
				<p>{{client.matFisc ? client.matFisc : ''}}</p>
			</div>
		</div>
	</header>

  <div class="limiter">
		<div class="container-table100" style="padding-top: 20px">
			<div class="wrap-table100">
				<div class="table100 ver1 m-b-110">
					<div class="table100-body js-pscroll">
						<table>
							<thead>
								<tr class="row100 head" style="height: 60px">
									<th>&nbsp; #</th>
									<th>Désignation</th>
									<th>Qté</th>
									<th>Prix Unitaitre HT</th>
									<th>Montant HT</th>
								</tr>
							</thead>
							<tbody *ngFor="let item of items ">
								<tr class="row100 body">
									<td>&nbsp;1</td>
									<td>{{ item.designation }} </td>
									<td>{{ item.quantity }}</td>
									<td>{{ item.u_price }}</td>
									<td>{{ item.total_price }}</td>
								
							
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


	<section class="total">
		<table class="table" style="border: 1px inset; margin-right: 10px;">
			<tr>
				<th> Montant HT</th>
				<td>{{ invoice.ht_price}}</td>
			</tr>
			<tr>
				<th>Taux TVA </th>
				<td>{{ config.tva}}</td>
			</tr>
			<tr>
				<th>Montant TVA</th>
				<td>{{ invoice.price_tva}}</td>
			</tr>
			<tr>
				<th>Timbre Fiscale</th>
				<td>{{ config.tax }}</td>
			</tr>
			<tr >
				<th class="ttc">Montant TTC </th>
				<td class="ttc">{{invoice.total_ttc}}</td>
			</tr>
			<tr>
				<th>Montant en toutes lettres </th>
				<td>{{ invoice.inWord}}</td>
			</tr>
		</table>
	</section>


	<footer>

		<hr>
		<p style="font-size: 11px ; margin: auto;"> {{company.domaine}}<br>
			TVA : {{company.mat_fiscal}} - {{company.email}} RIB: {{company.bank}}</p>
	</footer>
</div>