<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">
    
                    <form [formGroup]="emailForm">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="email" name="email" placeholder="email address" class="form-control"  type="email" formControlName="email">
                          <div *ngIf="email.touched && email.invalid"> 
                            <small *ngIf="email.errors.required"class="text-danger">Email is required <br> </small> 
                            <small  *ngIf="email.errors.email" class="text-danger">Invalid email <br></small> 
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                    </div>
                    
                    
                </form>
                <button name="recover-submit" class="btn btn-lg btn-primary btn-block" (click)="send()" [disabled]="emailForm.invalid">Send</button>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>