
       <ejs-gantt id="GanttSample" height="430px" [dataSource]="data" [taskFields]="taskSettings" [columns]="columns"
        [allowSelection]="true" [allowReordering]="true" [allowSorting]="true" [allowResizing]="true"
        [splitterSettings]="splitterSettings" [enableContextMenu]="true" [showColumnMenu]="true"
        [labelSettings]="labelSettings" [projectStartDate]="projectStartDate" [projectEndDate]="projectEndDate"
        [highlightWeekends]="true" [treeColumnIndex]="1" [toolbar]="toolbar" [editSettings]="editSettings"
        (endEdit)="endEdit($event)"
        (taskbarEdited)="taskbarEdited($event)"
        (actionComplete)="actionComplete($event)"
        (actionBegin)="actionBegin($event)"
        (rowSelected)="rowSelected($event)"
        >
    </ejs-gantt>


