<h1 class="title_erp">Manage Bills</h1>

<!--Toolbar-->
 <p-toolbar
 [style]="{
    width: '70rem',
    'margin-bottom': '2rem',
    'margin-right': '2rem',
    height: '4rem',
    'background-color': '',
    border: 'none'
  }"
  styleClass="p-mb-4"
>
  <ng-template pTemplate="left">
    <button
      pButton
      pRipple
      label="New"
      icon="pi pi-plus"
     (click)="addBill()"
      class="redbtn p-mr-2 p-button-rounded"
      *ngIf="filterActions('create','bill')"
    ></button>
  </ng-template>
</p-toolbar>

<!--Table-->
<div class="card">
  <p-table
    #dt
    [value]="allBills | filter:searchKey"
    [rows]="10"
    [paginator]="true"
    [(selection)]="selectedBill"
    [globalFilterFields]="['name', 'age']"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    styleClass="p-datatable-responsive-demo"
  >
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <h5 class="p-m-0 title_erp" style="font-size: 20px; "> Bills List</h5>
      <select name=""  id="" class="brad"
      style="  border: 1px solid #ced4da ; padding: 0.45rem 0.45rem;"
      [(ngModel)]="selectedYear" (change)="filterByYear()">
        <option value="" *ngFor="let year of years" value="{{year.year}}">{{year.year}}</option>
      </select>

      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" class="brad" placeholder="Search..." [(ngModel)]="searchKey"/>
      </span>
    </div>
  </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">
          Bill Num
        </th>
        <th pSortableColumn="name">
          Client
        </th>
        <th pSortableColumn="name">
          Fact Date	<p-columnFilter type="text" field="DateFacturation" display="menu"></p-columnFilter>
        </th>
        <th pSortableColumn="name">
          HT Price
        </th>
        <th pSortableColumn="name">
          TVA Price
        </th>
        <th pSortableColumn="name">
          TTC Price
        </th>
        <th >Status</th>
        <th></th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bill>
      <tr>
        <td>
          <p-tableCheckbox [value]="bill"></p-tableCheckbox>
        </td>
         <td>{{ bill.billNum }}</td>
         <td>{{ bill.client.client_name }}</td>
         <td>{{ bill.DateFacturation | date: 'mediumDate' }}</td>
         <td>{{ bill.ht_price }}</td>
         <td>{{ bill.price_tva }}</td>
         <td>{{ bill.total_ttc }}</td>
         <td>
            <p-message *ngIf="bill.status != 0 " severity="info" text="canceled" styleClass="p-mr-1"></p-message>
        </td>
          <td>
            <button type="button" class="btn btn-primary dropdown-toggle mx-2" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu">
              <li *ngIf="bill.status == 0"><a class="dropdown-item" (click)="changeStatus(bill.id,1)">Cancel</a></li>
              <li  *ngIf="bill.status != 0"><a class="dropdown-item" (click)="changeStatus(bill.id,0)">No status</a></li>

            </ul>

          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded redbtn p-mr-2"
            (click)="updateBill(bill.id)"
            *ngIf="filterActions('update','bill')"
          ></button>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ allBills ? allBills.length : 0 }} bills.
      </div>
    </ng-template>
  </p-table>
  </div>





