 
 <div class="p-d-flex p-jc-center">
    <div class="p-grid">
   
            <div class="p-d-flex p-flex-column">
                <div class="p-d-flex p-flex-column p-flex-md-row ">
                   
                    <div class="p-mb-2 p-mr-2"> 
                        <p-card  [style]="{'width': '25rem', 'margin-bottom': '2em', 'margin-right': '2rem','height': '12rem','background-color':'#00A8FF'}">
                      
                               <h1 style="color:cornsilk">Maintenance</h1>
                               <i class="pi pi-file" style="font-size: 50px;margin-left:6em ; color:white;"></i>
                           
                    
                               <h1 style="margin-left: 1.8em;font-size: 50px; color: cornsilk;margin-top:-1.5rem">36</h1>
                               <button pButton pRipple type="button" icon="pi pi-list" class="p-button-rounded p-button-danger p-mr-2" [style]="{'margin-left':'9rem','background-color':'#E74C3C','margin-top':'-10em'}"></button>
                               <button pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-secondary"  ></button>

                               <ng-template pTemplate="footer" >
                            </ng-template>
                        </p-card>
                    </div>
                    
                   
                    <div class="p-mb-2 p-mr-2"> 
                            <p-card  [style]="{'width': '20rem', 'margin-bottom': '2rem', 'margin-right': '2rem','height': '12rem','background-color':'#FBC531'   }">
                                <h1 style="color:cornsilk">Update</h1>
                                <i class="pi pi-file"style="font-size: 50px;margin-left:4em ; color:white;"></i>
                               
                                <h1 style="margin-left: 1.8em;font-size: 50px; color: cornsilk;margin-top:-1.5rem">36</h1>
                                <button pButton pRipple type="button" icon="pi pi-list" class="p-button-rounded p-button-danger p-mr-2" [style]="{'margin-left':'9rem','background-color':'#E74C3C'}"></button>
                                <button pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-secondary"></button>
                                <ng-template pTemplate="footer">
                                </ng-template>
                            </p-card>
                 
                    </div>
                    
                        <div class="p-mb-2 p-mr-2"> 
                            <p-card  [style]="{'width': '25rem', 'margin-bottom': '2rem', 'margin-right': '2rem','height': '12rem','background-color':'#44BD32'}">
                                <h1 style="color:cornsilk">Hosting</h1>
                                <i class="pi pi-file"style="font-size: 50px;margin-left:6em ; color:white;"></i>
                             
                                <h1 style="margin-left: 1.8em;font-size: 50px; color: cornsilk;margin-top:-1.5rem">36</h1>
                                <button pButton pRipple type="button" icon="pi pi-list" class="p-button-rounded p-button-danger p-mr-2"[style]="{'margin-left':'9rem','background-color':'#E74C3C'}"></button>
                                <button pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-secondary" ></button>
                                <ng-template pTemplate="footer">
                                </ng-template>
                            </p-card>
                    </div>
                 
                </div>
            </div>



    </div>
</div>      




<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-mr-2"[disabled]="!selectedBills || !selectedBills.length" (click)="deleteContract()"></button>
        </ng-template>

        <ng-template pTemplate="right">
                      
                       <button pButton pRipple label="Export" icon="pi pi-file-pdf" (click)="exportPdf()" style="background-color: #34495E;border: none;" [disabled]="!selectedBills || !selectedBills.length"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="users" [rows]="5" [paginator]="true" [globalFilterFields]="['name','age']"
    [(selection)]="selectedBills" [rowHover]="true" dataKey="_id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption" dataKey="_id">
        <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Manage Contracts</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Search..." style="border-radius: 10px;" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">Contract Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="age">Start Date <p-sortIcon field="age"></p-sortIcon></th>
            <th pSortableColumn="name">End Date <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="age">Type <p-sortIcon field="age"></p-sortIcon></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>
                <p-tableCheckbox [value]="user"></p-tableCheckbox>
            </td>
            <td>{{user.name}}</td>
            <td>{{user.age }}</td>
            <td>{{user.name}}</td>
            <td><p-tag styleClass="p-mr-2" value="Contract_type"></p-tag></td>
            <td>
                <button pButton pRipple icon="pi pi-send" class="p-button-rounded p-button-success p-mr-2"  (click)="showModalDialog()"></button>
                <button pButton pRipple icon="pi pi-info-circle" class="p-button-rounded p-button-secondary p-mr-2" (click)="ShowUser(user)"></button>
                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-warning " (click)="showModalDialog3()"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{users ? users.length : 0 }} Contracts.
        </div>
    </ng-template>
</p-table>
</div>

 


<!-- Modal for email editing-->
<p-dialog header="Preview" [(visible)]="displayModal" [modal]="true" [style]="{width: '80vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
<p-editor [(ngModel)]="text"  [style]="{'height':'320px'}"></p-editor>
 
   
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-times" (click)="displayModal2=false" label="Cancel" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-send" label="Send" styleClass="p-button-text"></p-button>
        
        </ng-template>
</p-dialog>




<!--Modal for more info-->


<p-dialog header="More info" [(visible)]="displayModal1" [modal]="true" [style]="{width: '75vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">

     <p-table #dt [value]="selectedUser" [rowHover]="true" dataKey="_id"
     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
     [showCurrentPageReport]="true">
    <ng-template pTemplate="caption" dataKey="_id">
      
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
           
            <th pSortableColumn="name">Contract Name </th>
            <th pSortableColumn="age">Start Date </th>
            <th pSortableColumn="name">End Date</th>
            <th pSortableColumn="age">Type</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            
            <td>{{user.name}}</td>
            <td>{{user.age }}</td>
            <td>{{user.name}}</td>
            <td><p-tag styleClass="p-mr-2" value="Contract_type"></p-tag></td>
         
        </tr>
    </ng-template>

</p-table> 

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayModal1=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>



<!-- Modal for preview-->

<p-dialog header="Preview" [(visible)]="displayModal3" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p class="p-m-0">preview</p>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayModal3=false" label="Ok" styleClass="p-button-text"></p-button>
            
        </ng-template>
</p-dialog>


