<div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/img/bg.svg" alt="Image" class="img-fluid">
        </div>
  
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4" >
                <br> <br> <br>
              <h3 style="font-size: 50px;">Change Your Password</h3>
            </div>
            <br><br>
            <form [formGroup]="passWordForm">
              <div >
                <label for="Password" > Password</label>
                <input required  class="form-control" name="password" type="password"   formControlName="password"
                placeholder="Password" >
              </div>
              <br>
              <div>
                <label for="Confirm">Confirm Password</label>
                <input required  class="form-control" name="password" type="password" formControlName="Confirm_password"
                placeholder="Confirm">
              </div>
  
              <input type="submit" value="Log In" class="btn btn-block my-4" (click)="save()" [disabled]="passWordForm.invalid || password.value != Confirm_password.value"
              style="border-radius: 25px; background-color: #4b7bec; color: #fff;">
  
  
  
            </form>
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
  </div>
  